.from_heading_profile {
  margin-top: 50px;
  width: 100%;
  padding: 0px 100px 0px 100px;
}
.text_welcome {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.text_date {
  font-size: 17px;
  color: #ada7a7;
  margin-top: 20px;
}
.from_background {
  display: flex;
  justify-content: center;
}
.from_img_avt_post {
  display: flex;
  align-items: center;
  margin-top: 7px;
}
.avatar_post {
  height: 60px;
  width: 60px;
  border-radius: 34px;
  background-color: #1b1c57;
}
.text_name_post {
  color: #333;
  margin-bottom: 10px;
  font-weight: 700;
}
.from_text_name {
  margin-left: 10px;
}
.from_information_profile {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn_edit {
  width: 93px;
  height: 44px;
  background-color: #4182f9;
  border: none;
  outline: none;
  border-radius: 10px;
  color: white;
}
.from_enter_information {
  display: flex;
  justify-content: space-between;
}
.btn_save {
  width: 93px;
  height: 44px;
  background-color: #4182f9;
  border: none;
  outline: none;
  border-radius: 10px;
  color: white;
}
.poster_background {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  object-fit: cover;
}
