.tabItem {
  width: 150px;
  height: 48px;
  border: 1px solid #888b97;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  color: #333;
  cursor: pointer;
}

.tabItem:hover {
  background-color: #9bebd0;
  color: white;
}

