.heading_post {
  width: 100%;
  height: 100vh;
}
.from_heading_post {
  width: 100%;
  height: 400px;
}

.Logo {
  display: flex;
  align-items: center;
}
.top_search {
  margin-left: 7px;
  color: black;
  font-weight: 700;
}
.header_nav {
  display: flex;
  justify-content: space-between;
  margin-left: 200px;
  margin-right: 200px;
}
.from_background {
  display: flex;
  justify-content: center;
}
.background_poster {
  background-image: url("../../../assets/imgs/backgroundPoster.png");
  background-size: cover;
  width: 1216px;
  height: 600px;
  margin-top: 50px;
}
.from_search {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.from_search_input {
  border: 1px solid #333;
  width: 788px;
  padding: 0px 20px 0px 20px;
  height: 58px;
  border-radius: 24px;
  display: flex;
  align-items: center;
}
.input_search {
  outline: none;
  border: none;
  width: 750px;
  height: 48px;
  border-radius: 24px;
}
.text_new_post {
  font-size: 30px;
  font-weight: 900;
  color: #1b1c57;
  text-align: center;
}
.heading_body {
  display: flex;
  justify-content: center;
}
.from_blog_main {
  width: 1320px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.form_item_blog {
  padding: 9px 5px 0px 9px;
  width: 300px;
  height: 450px;
  border: 1.5px solid #888b97;
  border-radius: 10px;
  max-width: calc(25% - 25px);
  flex: 1;
}
.img_class_post {
  width: 300px;
}
.item_click {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4b6bfb;
  width: 97px;
  height: 28px;
  background-color: rgba(99, 203, 193, 0.3);
  border-radius: 24px;
}
.text_blog_hot {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 900;
}
.from_style_contact {
  display: flex;
  align-items: center;
}
.img_poster {
  width: 35px;
  height: 35px;
  border-radius: 30px;
  margin-right: 10px;
}
.text_name_member {
  color: #888b97;
  font-weight: 500;
}
.text_date {
  color: #888b97;
  font-weight: 500;
  margin-left: 35px;
}
.item_information {
  display: flex;
}
.form_btn_click {
  display: flex;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
}
.btn_click_post {
  width: 150px;
  height: 48px;
  background-color: white;
  border: 1px solid #888b97;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  color: #888b97;
}
.form_information {
  margin-top: 50px;
  background-color: #e8e8ea;
  width: 100%;
  height: 390px;
}
.from_text_information {
  width: 1216px;
  height: 250px;
  background-color: #fff;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.form_information_connect {
  display: flex;
  justify-content: center;
}
.text_about {
  font-size: 18px;
  font-weight: 600;
}
.item_text_information {
  margin-left: 10px;
}
.item_describe {
  color: #696a75;
  line-height: 1.3;
  margin-bottom: 15px;
}
.text_email {
  font-weight: 600;
  margin-right: 5px;
}
.text_describe_information {
  color: #696a75;
}
.from_describe_information {
  display: flex;
  line-height: 0;
}
.text_link {
  font-size: 18px;
  font-weight: 600;
}
.select_fun {
  color: #888b97;
}
.form_select_fun {
  display: flex;
}
.items_select_fun {
  margin-right: 50px;
}
.from_enter_email {
  margin-top: 10px;
  width: 392px;
  height: 230px;
  background-color: #e8e8ea;
  margin-right: 10px;
  border-radius: 5px;
}
.text_title {
  font-weight: 700;
  text-align: center;
}
.text_describe_email {
  color: #888b97;
  text-align: center;
}
.from_email {
  display: flex;
  align-items: center;
}
.from_email {
  display: flex;
  justify-content: center;
}
.item_enter_email {
  width: 320px;
  height: 48px;
  border: 1px solid #333;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 10px;
}

.input_email {
  width: 280px;
  height: 40px;
  outline: none;
  border: none;
  background-color: #e8e8ea;
}
.form_btn_subscribe {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.btn_subscribe {
  width: 330px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  height: 48px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4b6bfb;
  border: none;
  outline: none;
  border-radius: 6px;
}
.item_logo_web {
  width: 1216px;
  display: flex;
  justify-content: space-between;
}
.from_logo_web {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.member_team {
  color: #333;
  margin-right: 50px;
}
.form_text_member {
  display: flex;
}
.end {
  height: 50px;
}
