.header-boards {
  padding: 25px 25px;
  width: 100%;
  height: 1500px;
  background-color: #f3f2f7;
  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    .from-text-boards {
      display: flex;
      align-items: center;
      .text-boards {
        font-size: 25px;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
        font-weight: 800;
        margin-right: 24px;
      }
      .icon-pen {
        color: #b8bfcc;
      }
    }
    .nav-tabs {
      .text-tab {
        margin-right: 24px;
        font-size: 14px;
        color: #7a8699;
      }
    }
    .from-member {
      .item-member {
        position: relative;
        width: 76px;
        top: 0px;

        .img-avt-one {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          position: absolute;
          left: 0;
          z-index: 2;
        }
        .img-avt-true {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          position: absolute;
          left: 18px; /* Đẩy qua một nửa */
          z-index: 3; /* Hình thứ hai */
        }
        .add-member {
          width: 35px;
          align-items: center;
          text-align: center;
          background-color: #f2f4f7;
          justify-content: center;
          height: 35px;
          display: flex;
          border-radius: 50%;
          position: absolute;
          left: 36px; /* Đẩy qua một nửa */
          z-index: 4; /* Hình thứ hai */
        }
      }
    }
    .item-add {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px dashed black;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      margin-left: 80px;
      background-color: #b8bfcc;
      .icon-add {
        color: #7a8699;
      }
    }
  }
  .nav-list {
    height: 50px;
    justify-content: space-between;
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    @keyframes slideIn {
      from {
        opacity: 0;
        transform: translateY(-50px); /* Trượt từ trái vào */
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
    .from-boards-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #ffff;
      border-radius: 10px;
      width: 245px;
      height: 50px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
      transition:
        transform 0.3s ease-in-out,
        box-shadow 0.3s ease-in-out;
      perspective: 500px;
      animation: slideIn 0.6s ease-out; /* Slide vào khi load */
    }

    .item-list-view,
    .item-list {
      padding: 13px 12px;
      display: flex;
      align-items: center;
      transition:
        background-color 0.3s ease-in-out,
        transform 0.2s ease-in-out;
    }

    .item-list-view:hover,
    .item-list:hover {
      transform: translateZ(5px);
    }

    .item-list-view:active,
    .item-list:active {
      transform: scale(0.95);
    }

    .icon-add {
      color: #7a8699;
      transition: transform 0.2s ease-in-out;
    }

    .txt-view-boards {
      font-weight: 600;
      color: #7a8699;
      font-size: 13px;
      margin-left: 5px;
    }

    .icon-add:hover {
      transform: rotate(10deg);
    }

    @keyframes slideDown {
      from {
        opacity: 0;
        transform: translateY(-50px); /* Trượt từ trên xuống */
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .from-limited {
      width: 180px;
      border-left: 3px solid #e7e7e7;
      border-right: 3px solid #e7e7e7;
      height: 50px;
      animation: slideDown 0.6s ease-out;
      transition:
        transform 0.3s ease-in-out,
        box-shadow 0.3s ease-in-out;
    }

    .item-limited {
      padding: 12px 13px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      transition: transform 0.2s ease-in-out;
    }

    .txt-view-boards:hover {
      transform: scale(1.05);
    }

    .item-limited:active {
      transform: scale(0.95); /* Co lại khi click */
    }

    .txt-view-boards {
      font-weight: 600;
      color: #7a8699;
      font-size: 13px;
      margin-left: 5px;
    }

    .icon-add {
      color: #7a8699;
      transition: transform 0.2s ease-in-out;
    }

    .icon-add:hover {
      transform: rotate(10deg);
    }

    @keyframes slideDown {
      from {
        opacity: 0;
        transform: translateY(-50px); /* Trượt từ trên xuống */
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .from-owners-team {
      display: flex;
      padding: 0px 13px;
      height: 50px;
      align-items: center;
      width: 210px;
      justify-content: space-between;
      perspective: 500px;
      animation: slideDown 0.6s ease-out; /* Thêm hiệu ứng khi load */
    }

    .txt-view-boards {
      font-weight: 600;
      color: #7a8699;
      font-size: 13px;
      margin-left: 5px;
    }

    .item-host {
      display: flex;
      align-items: center;
      justify-content: center;
      transition:
        background-color 0.3s ease,
        transform 0.3s ease-in-out;
      transform-style: preserve-3d;
    }

    .item-x {
      display: flex;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      margin-top: -3px;
      width: 25px;
      height: 25px;
      background-color: #fff;
      font-weight: 600;
      color: #7a8699;
      font-size: 13px;
      margin-left: 5px;
      transition:
        background-color 0.3s ease,
        transform 0.2s ease;
    }

    .item-host:hover,
    .item-x:hover {
      cursor: pointer;
      color: #7a8699;
      transform: translateZ(10px);
    }

    .item-host:active,
    .item-x:active {
      transform: scale(0.95);
      transition:
        background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
        transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    @keyframes slideDown {
      from {
        opacity: 0;
        transform: translateY(-50px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
    .from-search {
      width: 200px;
      height: 50px;
      justify-content: center;
      align-items: center;
      background-color: #ffff;
      border: 2px solid #e7e7e7;
      border-radius: 10px;
      display: flex;
      padding: 2px 13px;
      animation: slideDown 0.6s ease-out;
      .from-nav-search {
        display: flex;
        justify-content: center;
        align-items: center;
        .icon-search {
          height: 48px;
          margin-right: 5px;
        }
        .nav-search {
          border: none;
          font-weight: 600;
          color: #7a8699;
          width: 150px;
          height: 46px;
        }
      }
    }
    @keyframes slideDown {
      from {
        opacity: 0;
        transform: translateY(-50px); /* Trượt từ trên xuống */
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
    .from-function {
      margin-left: 10px;
      width: 220px;
      justify-content: space-between;
      height: 50px;
      display: flex;
      animation: slideDown 0.6s ease-out;

      .icon-add {
        color: #7a8699;
      }
      .item-click {
        border-radius: 10px;
        width: 50px;
        background-color: #fff;
        border: 1px solid #e7e7e7;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .BacklogTasks {
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    .from-backlogTasks {
      width: 200px;
      display: flex;
      align-items: center;
      .text-backlog {
        font-size: 25px;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
        font-weight: 800;
        margin-right: 24px;
      }
      .item-backlog {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        background-color: rgb(240, 236, 224);
        justify-content: center;
        border-radius: 50%;
        color: #ca8a04;
        font-weight: 600;
      }
    }
    .MoreHoriz-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      .icon-item {
        color: #7a8699;
      }
    }
  }
  .from-item-boards {
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-items: center; /* Căn giữa theo chiều ngang */
    height: 240px;
    width: 100%;
    .item-boards {
      padding: 10px 13px;
      width: 280px;
      height: 240px;
      background-color: #fff;
      border-radius: 10px;

      .from-text-page {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .txt-page {
          font-weight: 600;
          color: #7a8699;
          font-size: 13px;
        }
        .item-save {
          display: flex;
          justify-content: center;
          align-items: center;
          .icon-save {
            color: #4cd7f6;
            margin-right: 5px;
          }
          .item-number {
            font-weight: 600;
            color: #4cd7f6;
            font-size: 13px;
          }
        }
      }
      .from-energy {
        display: flex;
        margin-top: 20px;
        justify-content: space-between;
        .item-progress {
          font-weight: 600;
          color: #7a8699;
          font-size: 13px;
        }
      }
      .progress-container {
        width: 100%;
        background-color: #e0e0e0;
        border-radius: 50px;
        overflow: hidden;
      }

      .custom-progress .MuiLinearProgress-bar {
        background-color: #6366f1 !important; /* Màu tím xanh */
        border-radius: 50px;
        height: 100%;
      }
      .from-mission {
        display: flex;
        margin-top: 30px;
        .item-btn {
          margin-right: 10px;
          height: 30px;
          width: 70px;
          background-color: rgb(230, 242, 255);
          color: #007aff;
          font-weight: 600;
          border-radius: 30px;
        }
      }
      .from-member {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        .from-members {
          .item-member {
            position: relative;
            width: 76px;
            top: 0px;

            .img-avt-one {
              width: 35px;
              height: 35px;
              border-radius: 50%;
              position: absolute;
              left: 0;
              z-index: 2;
            }
            .img-avt-true {
              width: 35px;
              height: 35px;
              border-radius: 50%;
              position: absolute;
              left: 18px; /* Đẩy qua một nửa */
              z-index: 3; /* Hình thứ hai */
            }
            .add-member {
              width: 35px;
              align-items: center;
              text-align: center;
              background-color: #f2f4f7;
              justify-content: center;
              height: 35px;
              display: flex;
              border-radius: 50%;
              position: absolute;
              left: 36px; /* Đẩy qua một nửa */
              z-index: 4; /* Hình thứ hai */
            }
          }
        }
        .item-add {
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px dashed black;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          margin-left: 80px;
          background-color: #b8bfcc;
          .icon-add {
            color: #7a8699;
          }
        }
        .from-icon {
          height: 40px;
          display: flex;
          align-items: center;
          .from-mess {
            display: flex;
            .icon-cart {
              margin-right: 5px;
              color: #a855f7;
            }
            .item-number-cart {
              color: #6366f1;
            }
          }
          .from-mess {
            display: flex;
            margin-left: 10px;
            .icon-mess {
              margin-right: 5px;
              color: #f59e0b;
            }
            .item-number-mess {
              color: #f59e0b;
            }
          }
        }
      }
    }
  }
  .from-chart {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    width: 400px;
    height: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  }
  .from-item-chart {
    display: flex;
    .item-chart {
      .from-charts {
        margin-top: 20px;
        background-color: white; /* Nền trắng */
        border-radius: 10px; /* Bo góc */
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);

        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px; /* Đảm bảo chứa vừa biểu đồ */
        height: 300px;
      }
    }
    .from-chart-boards {
      border-radius: 10px;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
      margin-top: 40px;
      width: 100%;
      margin-left: 20px;
      height: 620px;
      background-color: #fff;
    }
  }
}
