.item_enter {
  padding: 0px 0px 0px 10px;
  width: 593px;
  height: 52px;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  border: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.enter_input {
  color: #000;
  width: 580px;
  height: 45px;
  outline: none;
  border: none;
  background-color: #f9f9f9;
}
.item_enter_information {
  margin-top: 50px;
}
.item_select {
  color: #000;
  width: 580px;
  height: 45px;
  outline: none;
  border: none;
  background-color: #f9f9f9;
}
