.from_heading {
  width: 100%;
}
.item_img_heading {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}
.from_img_heading {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.from_fill_in{
  display: flex;
  justify-content: space-between;
}