.item_fun_click {
  width: 122px;
  height: 34px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown {
  position: relative;
}

.dropdown_content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  border-radius: 5px;
  padding: 10px 0;
  transition: opacity 0.3s;
}
.show {
  display: block;
}
.dropdown_item {
  display: flex;
  justify-content: center;
  white-space: nowrap;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 10px;
  width: 122px;
  height: 34px;
}
