.item_fun_click {
  width: 122px;
  height: 34px;
  background-color: rgba(240, 243, 253, 0.2);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3c4563;
  cursor: pointer;
}
.item_fun_click:hover {
  background-color: rgb(149, 226, 226);
}
.dropdown {
  position: relative;
}

.dropdown_content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  border-radius: 5px;
  padding: 10px 0;
  transition: opacity 0.3s;
}
.show {
  display: block;
}
.dropdown_item {
  display: flex;
  justify-content: center;
  color: #333;
  white-space: nowrap;
  align-items: center;
  background-color: rgba(240, 243, 253, 0.2);
  border-radius: 20px;
  margin-bottom: 10px;
  color: #3c4563;
  width: 122px;
  height: 34px;
  cursor: pointer;
}
.dropdown_item:hover {
  background-color: rgb(149, 226, 226);
}
